image:
  repository: henrywhitaker3/speedtest-tracker
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "traefik"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
  hosts:
    - host: speedtest.pixr.in
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: nexus-tls-prod
      hosts:
        - speedtest.pixr.in

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

persistentVolumeClaim:
  enabled: true
  storageClassName: "local-path"
  accessModes:
    - ReadWriteOnce
  size: 1Gi

volumes:
  - name: config
    persistentVolumeClaim:
      claimName: speedtest-app-pvc

volumeMounts:
  - name: config
    mountPath: /config

env:
  - name: OOKLA_EULA_GDPR
    value: "true"
  - name: TZ
    value: "Asia/Kolkata"

# Pod labels and annotations
podLabels:
  app: speedtest-tracker

podAnnotations:
  description: "Monitors internet speed"

livenessProbe: null
readinessProbe: null
